.contacts
    a.contact(href="tel:+3806403490000")
        i.fa.fa-mobile.contact__icon(aria-hidden="true")
        span.contact__text 34334 34343
    a.contact(href="mailto:info@dwkas.cd")
        i.fa.fa-envelope.contact__icon.contact__icon--email(aria-hidden="true")
        span.contact__text info@dwkas.cd
    a.facebook-icon(href="facebook.com")
        i.fa.fa-facebook(aria-hidden="true")